body {
    background-color: #fff;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #02b8dd;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}
header {
    height: 65px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #02b8dd;
}
header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

#hero-image h2 {
    margin: 180px 0 40px 0;
}

* {
    font-family: sans-serif;
}
/* body {
    background-color: lightblue;
    background-size: cover;
} */
form {
    text-align: center;
}
img {
    width: 100%;
}
h3 {
    text-align: center;
    font-size: 150%;
    padding-top: 5%;
}
button {

    font-weight: bold;
    background-color: #b87d2c;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    color: #fff;
    border-color: black;
    font-family: Arial;
    border-style: ridge;
}
input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box
}
.para {
    text-align:center;
}
.result {
    font-weight: bold;
    background-color:  #b87d2c;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    color: #fff;
    border-color: black;
    font-family: Arial;
    border-style: ridge;
}
.Note {
    text-align: center;
    color: red;
    margin: 7px;
    padding: 7px 0px;
}
.pred {
    text-align:center;
}
.intro {
    font-size: 20px;
}

/*Layout and structure of form body in page*/
div.container {
    background-image: url('../images/gold.png');
    background-color: #f8fafa;
    font-size: 18px;
    margin: 6%;
    border-radius: 10px;
    border: 1px soid rgba (255,255,255,0.3);
    box-shadow: 2px 2px 15px

}
div.page {
    width: 400px;
    margin: 100px auto 0px auto;
}
form.info {
    margin: 15px;
}

/*This section involves the design of the inputs in the form*/
input {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: insert 1px 1px 5px rgba(0,0,0,0.3);
}

/*Design of links/buttons*/
a.link {
    font-weight: bold;
    background-color: orange;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    color: black;
    border-color: black;
    border-style: ridge; 
}

/*Responsible for shadow backgrounds*/
#menu-outer {
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin: 1%;
    border-radius: 10px;
    border: 1px soid rgba(255,255,255,0.3);
}
.table {
    display: table;   
    margin: 0 auto;
    margin-left: 33.85%;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}

/*This section is concerned with the link layout*/
a.link {
    margin-right: 20px;
    margin-left: 115px;
}
a.scikit {
    margin-left: 65px;
}
ul#horizontal-list li {
    display: inline;
}

div.title img {
    display:inline-block;
    vertical-align:middle;
}        

div.title h1 {
    display:inline-block;
    vertical-align:middle;
    padding-left: 30%;
    font-family: "Copperplate Gothic Light";
}

footer{
    position: absolute;
    /* bottom: 0; */
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 2px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: -50%;
    margin-top: -60px;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    color: #f8fafa;
}
/* .footer-content p a{
    color: #f8fafa;
} */
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    /* width: 100vw; */
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
  }
  .footer-bottom span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
  }

  .footer-menu{
    float: right;
    padding-right: 2%;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }