<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
  <body>

    <header>
      <div class="wrapper">
          <h1>Gold Price Prediction<span class="color">.</span></h1>
          <nav>
              <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">About Us</a></li>
              </ul>
          </nav>
      </div>
  </header>

    <div class="container">
      <div class = "intro">
        <h3>Fill with values to predict the price of gold</h3>
      </div>
      <br>
      
      <form action="{{ url_for('predict') }}" method="POST" class="info">
        
        <input type="number" step="any" name="spx" placeholder="SPX" required="required"/>
        <br>
        <br>
        <input type="number" step="any" name="uso" placeholder="USO" required="required"/>
        <br>
        <br>
        <input type="number" step="any" name="slv" placeholder="SLV" required="required"/>
        <br>
        <br>
        <input type="number" step="any" name="eur/usd" placeholder="EUR/USD" required="required"/>
        <br>
        <br>
        <label name = 'year'>Year</label>
        <select id="year" name="year" required="required">
          <option value="0">2022</option>
          <option value="0">2023</option>
          <option value="1">2024</option>
          <option value="2">2025</option>
          <option value="3">2026</option>
          <option value="4">2027</option>
          <option value="5">2028</option>
          <option value="6">2029</option>
          <option value="7">2030</option>
          <option value="8">2031</option>
          <option value="9">2032</option>
        </select>
        <br>
        <br>
        <label name = 'month'>Month</label>
        <select id="month" name="month" required="required">
          <option value="0">01</option>
          <option value="1">02</option>
          <option value="2">03</option>
          <option value="3">04</option>
          <option value="4">05</option>
          <option value="5">06</option>
          <option value="6">07</option>
          <option value="7">08</option>
          <option value="8">09</option>
          <option value="9">10</option>
          <option value="10">11</option>
          <option value="11">12</option>
        </select>
        <br><br>
        
        <button type="submit" class="bth">Predict</button>
      </form>
      <br>
      <br>
      <div class="pred">
        <p class = "result"><b>{{ prediction_text }}</b></p>
      </div>
    </div>
    <footer >
      <div class="footer-content">
          <h3>Gold Price Prediction</h3>
          <p>Gyelpozhing College Of Information Technology.</p>
          <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
          <ul class="socials">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
          </ul>
          <!-- <p>copyright &copy;2022 <a href="#">MachineLearning</a>  </p> -->
          
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2022 <a href="#">MachineLearning</a>  </p>
      </div>
      <div class="footer-menu">
          <ul class="f-menu">
             <li><a href="#">Home</a></li>
             <li><a href="">About</a></li>
             <li><a href="">Contact</a></li>
          </ul>
         </div>
  </footer>
  </body>
</html>